<!DOCTYPE html>
<html lang="en" ng-app="cubeApp">
	<head>
		<title>three.js canvas - geometry - cube</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}
		</style>
	</head>
	<body ng-controller="cubeCtrl">

		xRotationSpeed : <input ng-model="xRotationSpeed" type="range" name="points" min="-10" max="10">{{xRotationSpeed}}<br/>
		yRotationSpeed<input ng-model="yRotationSpeed" type="range" min="-10" max="10">{{yRotationSpeed}}<br>
		<button type="button" ng-click="turnLeft(targetRotation)">turnLeft</button>

		<script src="three.min.js"></script>
		<script src="angular.min.js"></script>

		<script>
			var cubeApp = angular.module('cubeApp', []);

			cubeApp.controller('cubeCtrl', function ($scope) {
				$scope.xRotationSpeed = 0;
				$scope.yRotationSpeed = 0;

				$scope.targetRotation = 0;
				
				var keyCode;
				var rotationAngle={"x":0,"y":0};
				var rotationKeyMapping = {
					"37":{
						axis:"y",
						direction:1
					},
					"38":{
						axis:"x",
						direction:1
					},
					"39":{
						axis:"y",
						direction:-1
					},
					"40":{
						axis:"x",
						direction:-1
					}
				};


				var container, stats;
				var rotationAnimationFrame;
				var camera, scene, renderer;

				init();
				animate();

				function init() {

					container = document.createElement( 'div' );
					document.body.appendChild( container );

					camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 1, 1000 );
					camera.position.y = 0;
					camera.position.z = 500;

					scene = new THREE.Scene();

					// Cube

					var geometry = new THREE.BoxGeometry( 200, 200, 200 );

					for ( var i = 0; i < geometry.faces.length; i += 1 ) {

						var hex = Math.random() * 0xffffff;
						geometry.faces[ i ].color.setHex( hex );

					}

					var material = new THREE.MeshBasicMaterial( { vertexColors: THREE.FaceColors, overdraw: 0.5 } );

					$scope.cube = new THREE.Mesh( geometry, material );
					$scope.cube.position.y = 0;
					scene.add( $scope.cube );

					// Les axes 
					var axes = buildAxes(1000);
					scene.add(axes);

					// Plane

					var geometry = new THREE.PlaneBufferGeometry( 200, 200 );
					geometry.applyMatrix( new THREE.Matrix4().makeRotationX( - Math.PI / 2 ) );

					var material = new THREE.MeshBasicMaterial( { color: 0xe0e0e0, overdraw: 0.5 } );


					renderer = new THREE.WebGLRenderer();
					renderer.setClearColor( 0xf0f0f0 );
					renderer.setSize( window.innerWidth, window.innerHeight );

					container.appendChild( renderer.domElement );

					document.addEventListener("keydown", onKeyDown);

				}

				function onKeyDown(event) {
					if (Object.keys(rotationKeyMapping).indexOf(String(event.keyCode))!=-1){
						keyCode=event.keyCode;
						var rotation = rotationKeyMapping[keyCode];
						var currentAxis = rotation.axis;
						rotationAngle[currentAxis] += rotation.direction*90;
						$scope.rotate();
					}
				}
				function animate() {

					requestAnimationFrame( animate );
					render();
					

				}

				function render() {

					$scope.cube.rotation.y += $scope.yRotationSpeed/100;
					$scope.cube.rotation.x += $scope.xRotationSpeed/100;
					renderer.render( scene, camera );

				}

				$scope.rotate = function(){
					rotationAnimationFrame = requestAnimationFrame( $scope.rotate );
					renderRotation();
				};

				function renderRotation(){
					var rotation = rotationKeyMapping[keyCode];
					var currentAxis = rotation.axis;
					// Rotation du cube, on incrémente l'angle de l'axe courant de 2°C
					$scope.cube.rotation[currentAxis] += 1*Math.PI/180*rotation.direction;
					renderer.render( scene, camera );

					// Si on a atteint l'angle de rotation souhaité (rotationAngle), on arrête l'animation
					var currentAngle = Math.round($scope.cube.rotation[currentAxis]*180/Math.PI);
					if ( currentAngle == rotationAngle[currentAxis]){
						cancelAnimationFrame(rotationAnimationFrame);
					}
				}

				function buildAxes( length ) {
			        var axes = new THREE.Object3D();

			        axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( length, 0, 0 ), 0xFF0000, false ) ); // +X
			        axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( -length, 0, 0 ), 0xFF0000, true) ); // -X
			        axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, length, 0 ), 0x00FF00, false ) ); // +Y
			        axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, -length, 0 ), 0x00FF00, true ) ); // -Y
			        axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, 0, length ), 0x0000FF, false ) ); // +Z
			        axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, 0, -length ), 0x0000FF, true ) ); // -Z

			        return axes;

				}

				function buildAxis( src, dst, colorHex, dashed ) {
			        var geom = new THREE.Geometry(),
			            mat; 

			        if(dashed) {
			                mat = new THREE.LineDashedMaterial({ linewidth: 3, color: colorHex, dashSize: 3, gapSize: 3 });
			        } else {
			                mat = new THREE.LineBasicMaterial({ linewidth: 3, color: colorHex });
			        }

			        geom.vertices.push( src.clone() );
			        geom.vertices.push( dst.clone() );
			        geom.computeLineDistances(); // This one is SUPER important, otherwise dashed lines will appear as simple plain lines

			        var axis = new THREE.Line( geom, mat, THREE.LinePieces );

			        return axis;

				}
			});
		</script>

	</body>
</html>
